<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlvn.mcustomerportal"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- action call phone -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- permission for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.daiichi.dlvn_magp2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:name=".base.CPortalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".activity.prototype.LoginMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/keyMap_Dev" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/activity_title_about_us" />
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:label="@string/activity_title_privacy_policy" />
        <activity
            android:name=".activity.WebNapasActivity"
            android:label="@string/title_activity_web_napas" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".activity.ContractDetailActivity"
            android:label="@string/activity_title_contract_detail" />
        <activity
            android:name=".activity.ListOfficeActivity"
            android:label="@string/activity_title_list_office" />
        <activity
            android:name=".activity.ContactActivity"
            android:label="@string/title_activity_contact" />
        <activity
            android:name=".activity.Bonus_NopPhiBH_Step01_Activity"
            android:label="@string/title_activity_bonus__nop_phi_bh" />
        <activity
            android:name=".activity.WebTutorialActivity"
            android:label="@string/title_activity_web_tutorial" />
        <activity
            android:name=".activity.Bonus_NopPhiBH_Step02_Activity"
            android:label="@string/title_activity_bonus__nop_phi_bh__step02_" />
        <activity
            android:name=".activity.Bonus_NopPhiBH_Step03_Activity"
            android:label="@string/title_activity_bonus__nop_phi_bh__step03_" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:label="@string/title_activity_web_napas" />
        <activity
            android:name=".activity.PaymentMethodActivity"
            android:label="@string/title_activity_web_napas" />
        <activity
            android:name=".activity.PaymentInputActivity"
            android:label="@string/title_activity_web_napas" />
        <activity
            android:name=".activity.ChangeProfileActivity"
            android:label="@string/title_activity_change_profile" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:label="@string/title_activity_change_password" />
        <activity
            android:name=".activity.TransactionHistoryActivity"
            android:label="@string/title_activity_transaction_history" />
        <activity
            android:name=".activity.TransactionDetailActivity"
            android:label="@string/title_activity_transaction_detail" />
        <activity
            android:name=".activity.NewsActivity"
            android:label="@string/title_activity_news" />

        <!-- Prototype -->
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_login_main" />
        <activity android:name=".activity.prototype.RegisterActivity"></activity>
    </application>

</manifest>