<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlvn.mcustomerportal"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- action call phone -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- permission for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="${applicationId}.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- permission for finger print -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:name=".base.CPortalApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.WelcomeScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.prototype.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/keyMap_Dev" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Firebase Services -->
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MyFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- Crash report -->
        <!--
            <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        -->
        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- End Facebook -->
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/activity_title_about_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:label="@string/activity_title_privacy_policy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebNapasActivity"
            android:label="@string/title_activity_web_napas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContractDetailActivity"
            android:label="@string/activity_title_contract_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListOfficeActivity"
            android:label="@string/activity_title_list_office"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ContactActivity"
            android:label="@string/title_activity_contact"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Bonus_NopPhiBH_Step01_Activity"
            android:label="@string/title_activity_bonus__nop_phi_bh"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebTutorialActivity"
            android:label="@string/title_activity_web_tutorial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Bonus_NopPhiBH_Step02_Activity"
            android:label="@string/title_activity_bonus__nop_phi_bh__step02_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.Bonus_NopPhiBH_Step03_Activity"
            android:label="@string/title_activity_bonus__nop_phi_bh__step03_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.PaymentMethodActivity"
            android:label="@string/title_activity_web_napas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentInputActivity"
            android:label="@string/title_activity_web_napas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeProfileActivity"
            android:label="@string/title_activity_change_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransactionHistoryActivity"
            android:label="@string/title_activity_transaction_history"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransactionDetailActivity"
            android:label="@string/title_activity_transaction_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait" /> <!-- Prototype -->
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_login_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.prototype.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.prototype.LoginMainActivity"
            android:label="@string/title_activity_login_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.prototype.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.prototype.PointAccountListActivity"
            android:label="@string/title_activity_point_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
        <activity
            android:name=".activity.prototype.ProductByCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.prototype.ProductCategoryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.prototype.CartManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.prototype.DeliveryInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.prototype.PaymentNoLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PaymentResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.prototype.PointDonActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SampleActivity" />
        <activity
            android:name=".activity.prototype.VideoYoutubeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.prototype.PdfViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.prototype.PointAccountDetailActivity"
            android:label="@string/title_activity_point_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" /> <!-- Claims -->
        <activity
            android:name=".activity.prototype.ClaimsLifeInsureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.prototype.ClaimsRequesterInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.prototype.ClaimsAddPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.prototype.ClaimsSupplementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.prototype.ClaimsInsuranceBenefitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.prototype.ClaimsPaymentMethodActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.prototype.ClaimsTreatmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.prototype.ClaimsReasonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.prototype.ClaimsDrugTreatmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.prototype.ClaimsHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- End Claims -->
        <activity
            android:name=".activity.prototype.NotificationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.OTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.NoInternetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ProductListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme3" />
    </application>

</manifest>